<section class="block">
    <header class="block__header">
        <h2>Wht Our Customers are Saying</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, repudiandae.</p>
    </header>
    <div class="div block__container">
        <div class="card testimonial">
            <div class="grid grid--cols-2">
                <div class="testimonial__img">
                <img src="/images/testimonial.jpg" alt="happy customer"/>
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon--white icon--small">
                        <use xlink:href="images/sprite.svg#quotes"></use>
                    </svg>
                </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit animi rerum dolor delectus necessitatibus veniam similique autem consectetur quos dignissimos.</p>
                    <footer>
                        <div class="media">
                            <div class="media__img">
                              <svg class="icon icon--primary quote__line">
                                <use xlink:href="images/sprite.svg#line"></use>
                              </svg>
                            </div>
                            <div class="media__body">
                              <h3 class="media__title quote__author">John Smith</h3>
                              <p class="quote__company">
                                ABC Company
                              </p>
                            </div>
                          </div>
                    </footer>
                   </blockquote>
            </div>
        </div>
    </div>
</section>
